<h1>New division</h1>

<form action="/wizard_divide">
  <label for="first_divide_form">
    Divide this:
  </label>
  <input id="first_divide_form" name="first_num" text="text">

  <label for="second_divide_form">
    by this:
  </label>
  <input id="second_divide_form" name="second_num" text="text">

  <button>
    Divide!
  </button>
</form>
